# Object ignore
configs/*.ejson
images/*_preprocessed*
images/*_thumbnail*
images/*_cropped*
images/*_draw*
images/*debug*.png*
*.pytest_cache/*
tests/*
docs/*
.git
.circleci
pylintrc
Makefile
README.md
.gitignore
