<!doctype html>
<html>
<head>
  <title>Object</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" media="all">
  <script src="{{ url_for('static', filename='js/capture.js') }}"></script>
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAkqsueNAICiJBRPptjD7V9191Lmuw3uY8",
      authDomain: "object-is.firebaseapp.com",
      databaseURL: "https://object-is.firebaseio.com",
      projectId: "object-is",
      storageBucket: "",
      messagingSenderId: "162519022749"
    };
    firebase.initializeApp(config);
  </script>
</head>
  <body>
    <video id="video" class="video">Video stream not available.</video>
    <canvas id="canvas-circle-overlay""></canvas>
    <canvas id="canvas"></canvas>
    <button class="btn btn-lg glowing-border" id="startbutton">capture</button> 
  </body>
</html>

